@model FileDetailsVM
@{
    ViewBag.Title = "Details of Uploaded CSV File";
}

<div class="jumbotron">
    <h3>Most Sold Vehicle: @Model.MostSoldVehicle</h3>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">DealNumber</th>
                <th scope="col">CustomerName</th>
                <th scope="col">DealershipName</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var vehicleSale in Model.VehicleSales)
            {
                var price = "CAD$" + vehicleSale.Price.Replace('"', ' ').Trim();
                <tr>
                    <td>@vehicleSale.DealNumber</td>
                    <td>@vehicleSale.CustomerName</td>
                    <td>@vehicleSale.DealershipName</td>
                    <td>@vehicleSale.Vehicle</td>
                    <td>@price</td>
                    <td>@vehicleSale.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>